@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.form {
  width: 270px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;

  .inputForm {
    border-radius: 10px;
    height: 30px;
    width: 270px;
    background-color: $bgColor;
    border-color: $textColor;
    color: $textColor;
    outline: 0;
    border-width: 1.5px;
  }

  .messageForm {
    border-radius: 10px;
    height: 50px;
    width: 270px;
    background-color: $bgColor;
    border-color: $textColor;
    color: $textColor;
    outline: 0;
    border-width: 1.5px;
  }

  .labelForm{
    @include text(('DM Sans', sans-serif), 1.2, 600, 18px);
    color: #122c69;
  }

  .errorForm {
    color: #61dafb;
  }
}










