@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";


.contactsBlock {
  min-height: 100vh;
  background-color: $bgThirdColor;

  .contactsContainer {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .addForm {
      height: 650px;
      width: 440px;
      margin-top: 70px;
      padding-right: 7px;
      padding-top: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 10px;
      justify-content: space-between;
      box-sizing: border-box;
      background-color: $bgSecondColor;
      box-shadow: 15px 10px 10px rgba(0, 0, 0, .5);

      .message {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include text(('DM Sans', sans-serif), 1.2, 600, 24px);
        color: #122c69;
        margin-bottom: 45px;
      }

      .button {
        margin: 0 90px 40px;
        @include button(100px, 30px, ('DM Sans', sans-serif), 14px);
        cursor: pointer;

        &:hover {
          background: $bgSecondColor;
          color: $bgColor
        }

        &:active {
          background: $bgColor;
          color: $textColor
        }
      }

      .buttonDisabled {
        margin: 0 90px 40px;
        @include button(100px, 30px, ('DM Sans', sans-serif), 14px);
        cursor: pointer;
      }
    }

    .messageSending {
      margin-top: 250px ;
      @include text(('DM Sans', sans-serif), 1.2, 800, 35px);
      color: #122c69;
    }
  }
}









